@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: oswald, roboto;
    font-weight: 300;
    background-color: rgb(196, 237, 115);
    color: rgb(198, 130, 5);
    flex-direction: column;
}

header {
    background-color: rgb(196, 237, 115);
    color: rgb(198, 130, 5);
    position: fixed;
    z-index: 99;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px gray;
}

header a {
    text-decoration: none;
    color: inherit;
    background-color: rgb(196, 237, 115);
    color: rgb(198, 130, 5);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}

#navbar {
    background-color: rgb(196, 237, 115);
    list-style-type: none;
    margin-bottom: 2em;
    margin: 0;
    width: 100%;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;
    justify-content: space-evenly;
    padding: 10px 20px;
    font-size: 115%;
}

.active {
    border-bottom: 2px solid rgb(198, 130, 5)
}

/* Navbar styles */
nav {
    position: absolute;
    width: 100%;
    display: none;
    top: 100%;
}

#hamburger {
    padding-right: 2rem;
    font-size: xx-large;
    float: right;
    position: relative;
    list-style-type: none;
    letter-spacing: 4px;
}



/*Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Main section */


#hero {
    height: 400px;
    width: 100%;
    background: url('../images/pexels-rdne-8363119.jpg') no-repeat center center/cover;
}

#welcome {
    background-color: orange;
    font-size: 100%;
    position: absolute;
    bottom: 60px;
    width: 80%;
    min-height: 100px;
    padding-top: 5px;
    padding-left: 10px;
}

#welcome > h2, #welcome > h3 {
    color: antiquewhite;
}

#section-heading {
    line-height: 1;
    font-size: 2.5rem;
}

/* footer section */

#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: orange;
}

#socials i {
    font-size: 200%;
    padding: 5%;
    color: grey;
}

/* media query: Tablets and larger 768px and up */
@media screen (min width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
}
    
