@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: oswald, roboto;
    font-weight: 300;
    background-color: #E2F6B9;
    color: #7D3E00;
}

header {
    background-color: #E2F6B9;
    color: #7D3E00;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px gray;
}

header a {
    text-decoration: none;
    color: inherit;
    background-color: #E2F6B9;
    color: #7D3E00;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}

#navbar {
    background-color: #E2F6B9;
    list-style-type: none;
    margin: 0;
    width: 100%;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;
    justify-content: space-evenly;
    padding: 10px 20px;
    font-size: 115%;
    box-shadow: 0 2px 2px gray;
}

.active {
    border-bottom: 2px solid #7D3E00;
}

/* Navbar styles */
nav {
    position: absolute;
    width: 100%;
    display: none;
    top: 100%;
}

#hamburger {
    padding-right: 2rem;
    font-size: xx-large;
    float: right;
    position: relative;
    list-style-type: none;
    letter-spacing: 4px;
}



/*Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Main section */

main {
    flex: 1 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#hero {
    min-height: 400px;
    width: 100%;
    background: url('../images/pexels-rdne-8363119.jpg') no-repeat center center/cover;
    position: relative;
}

#welcome {
    position: absolute;
    background-color: rgb(190, 4, 4);
    font-size: 100%;
    max-width: 80%;
    bottom: 90px;
    min-height: 60px;
    padding-top: 5px;
    padding-left: 10px;
}

#welcome>h2,
#welcome>h3 {
    color: #FFFFFF;
}

#section-heading {
    line-height: 1;
    font-size: 2.5rem;
}

#offer>h2 {
    color: rgb(198, 130, 5);
    font-size: 100%;
    width: 80%;
    padding-left: 10px;
    margin: 10px 0px 10px 0px;
}

div>h2 {
    text-decoration: underline 2px solid;
}

#text {
    text-align: center;
    display: flex;
    position: absolute;
    justify-content: space-evenly;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-template-areas:
        "image1 image2 image2 image4"
        "text text text text";
    text-align: center;
}

.image1 {
    grid-area: image1;
    width: 100%;
    object-fit: cover;
}

.image2 {
    grid-area: image2;
    width: 100%;
    object-fit: cover;
}

.image3 {
    grid-area: image3;
    width: 100%;
    object-fit: cover;
}

.image4 {
    grid-area: image1;
    width: 100%;
    object-fit: cover;
    height: 166px;
}

.grid-container img {
    height: 150px;
}

/* Member */
#member {
    background-image: url("../images/pexels-cottonbro-3661286.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    margin-top: 120px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

#confirmation {
    display: flex;
    text-align: center;
    margin-top: 160px;
}

/* MEET THE DINOSAURS */

#dinosaurs {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

.brachio,
.trex,
.Triceratops,
.spino,
.Archaeopteryx {
    padding-bottom: 15px;
}

#trex,
#Triceratops,
#spino,
#Archaeopteryx {
    margin-top: 80px;
}

#specifics {
    padding: 10px 0px 10px 0px;
}

/* footer section */

footer {
    position: relative;
    bottom: 0;
    height: 50px;
    margin-top: 2px;
}

#socials {
    text-align: center;
    padding: 20px 0;
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
}

#socials i {
    font-size: 200%;
    padding: 5%;
    color: #7D3E00;
}

/* Media query: MOBILE */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    h1 {
        text-align: left;
        margin: 5px 5px 5px 5px;
    }

    p {
        text-align: center;
        font-size: 70%;
        padding-left: 5px;
        padding-bottom: 2.5px;
    }

    #hero {
        max-width: 100%;
        overflow: hidden;
    }

    #welcome {
        font-size: 80%;
        max-width: 100%;
        min-height: 40px;
        bottom: 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
        grid-template-areas:
            "image1""image2""image3""image4"
            "text""text""text""text"
    }

    #dinosaurs {
        margin-top: 120px;
    }

    .brachio,
    .trex,
    .Triceratops,
    .spino,
    .Archaeopteryx {
        width: 300px;
    }
}

/* media query: Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {

    .brachio,
    .trex,
    .Triceratops,
    .spino,
    .Archaeopteryx {
        width: 550px;
    }
}

/* media query: Tablets and larger 768px and up */
@media screen (min width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #navbar>li {
        padding-left: 1rem;
    }

    main {
        margin-top: 100px;
    }

    #welcome {
        font-size: 80%;
        min-width: 100%;
        min-height: 20px;
        bottom: 10px;
    }